body{
margin: 0px;
margin-top: 10px;
padding: 0px;
font-family: 'Readex Pro', sans-serif;
}

.r-image{
border-radius: 100%;
box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.s-amold{
margin: 5px;
border-radius: 10px;
}

/* Side-img-t */
.ss-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  
}

.ss-image {
  flex-basis: 40%
}

.ss-text {
font-size: 8px;
padding: 10px;
margin-left: 0px;
}
/* end */

.btn-next{
background-color: transparent;
border: 1px solid black;
border-radius: 5px;
padding-top: 2px;
padding-bottom: 5px;
padding-left: 15px;
padding-right: 15px;
font-size: 12px;
color: black;
}

a{
text-decoration: none;
color: black;
font-size: 8px;
}
